<div class="container">
  <div class="form login-form">
    <h1 class="page-title">Resend confirmation instructions</h1>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => "required",:placeholder => "Enter your email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <%= f.submit "Resend confirmation instructions", :class => "form-button button-success" %>
    <% end %>
    <div class="form-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
