<div class="container">
  <div class="form login-form">
    <h1 class="page-title">Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-turbo": "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :Name %>
        <%= f.text_field :Name, :class => "form-control", :required => "required" ,:placeholder => "Enter your full name" %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => "required",:placeholder => "Enter your email" %>
      </div>
      <div class="form-group">
        <%= f.label :Photo %>
        <%= f.url_field :Photo, :class => "form-control", :required => "required", :placeholder => "Add url to your picture" %>
      </div>
      <div class="form-group">
        <%= f.label :Bio %>
        <%= f.text_area :Bio, :class => "form-control", :required => "required", :placeholder => "Enter your biography", :rows => 10 %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :required => "required" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :required => "required" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", :class => "form-button button-success" %>
      </div>
    <% end %>
    <div class="form-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
